.container {
  background-color: #6ee5f9;
  width: 250px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.search {
  width: 90%;
  padding: 10px;
  font-size: 1em;
}

.img {
  height: 30%;
  margin: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.text {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
}
